/* background colour whole page */
body {
font-family: 'Segoe UI';
background-color: #eef2f7;
color: #333333;

}
/* i used bootstrp for nav*/


/* blue heading*/
h1 {
color: #345bdb;
text-align: center;

}
/* paragraph spacing */
p {
margin-bottom: 15px;
}
/* footer with line aboe it */
footer {
text-align: center;
color: #7f8c8d;
border-top: 1px solid #230404;
}
